<configuration>

  <appender name="soapmocks" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%X{counter}%m%n</Pattern>
    </encoder>
  </appender>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d %X{counter}%logger{36} - %m%n</Pattern>
    </encoder>
  </appender>

  <logger name="soapmocks" level="INFO">
  	<appender-ref ref="soapmocks" />
  </logger>

  <root level="DEBUG">          
    <appender-ref ref="STDOUT" />
  </root>  
  
</configuration>